/* //////////////////////////////////////// */
/* ///               Global             /// */
/* //////////////////////////////////////// */

$big-orange: #CF2424;
$big-purple: #534A93;

html, body {
	width: 100%;
    height: 100%;
    background-color: $big-orange;
    font-family: Helvetica, Arial, sans-serif;
}