* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

img, fieldset {
  border: none;
}

input, textarea, button {
  border: none;
  outline: none;
  -webkit-apperance: none;
  background: none;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}