.playlist {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.track-wrapper aside {
  @include row();
  font-size: 18px;
  font-weight: bold;
  color: $color-red;

  div:nth-child(1) {
  	@include span-columns(8);
  }

  div:nth-child(2) {
  	@include span-columns(4);
  	text-align: right;
	  color: #FF7E7E;
  }
}

.track {
  $base-border-color: white !default;
  $base-border-radius: 5px !default;
  $base-background-color: white !default;
  $base-spacing: 1em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $track-border-color: $base-border-color;
  $track-border: 0;
  $track-background: white;
  $track-header-background: $track-background;
  $track-hover-background: lighten($track-background, 5%);
  $track-image-background: #DBD199;
  $track-image-hover-background: white;
  $track-margin: 0;
  $track-padding: 12px;
  $track-shadow: 0 4px 12px fade-out(black, .7);

  @include flex-basis(10em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  width: 260px;
  background-color: fade-out($track-background, .3);
  border-radius: $base-border-radius;
  border: $track-border;
  cursor: pointer;
  margin: 0 $track-margin $base-spacing $track-margin;
  position: relative;
  padding: 17px 16px $track-padding;
  box-shadow: $track-shadow;

  .cover-art {
    overflow: hidden;
    max-width: 100%;
    border-radius: $base-border-radius - 1;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $track-image-background;
      width: 100%;
    }
  }

  .details {
    font-size: 18px;
    padding: ($base-spacing / 2) 0;
    line-height: 1.4em;
    margin-top: 0;

    p {
      margin: 0 0 ($base-spacing / 2);
    }

    .name {
      color: darken($link-color, 10%);
      font-size: 20px;
      font-weight: 400;
      line-height: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .artist {
      color: $color-slate;
      margin-top: 3px;

      span:first-child {
        color: fade-out($color-slate, .5);
      }
    }

    .album {
      font-size: .7em;
    }
  }

  &:focus,
  &:hover {
    background-color: $track-hover-background;

    .cover-art img {
      background: $track-image-hover-background;
      border-radius: 3px;
    }

    .track-header {
      background-color: $track-hover-background;
    }
  }

  &:active {
    background-color: $track-background;

    .track-header {
      background-color: $track-background;
    }
  }
}

.track-wrapper {
  &:last-of-type {
    .track {
      position: relative;
      background: white;
      box-shadow: 0 0 30px 3px fade-out(white, .7);
      &:before {
        content: "♫ Now Playing";
        position: absolute;
        top: -30px;
        left: 0;
        width: 100%;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .9em;
        text-align: center;
      }
    }
  }
}
