html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* //////////////////////////////////////// */
/* ///               Fonts              /// */
/* //////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal; }

img, fieldset {
  border: none; }

input, textarea, button {
  border: none;
  outline: none;
  -webkit-apperance: none;
  background: none;
  font-size: 14px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/* //////////////////////////////////////// */
/* ///               Global             /// */
/* //////////////////////////////////////// */
html, body {
  width: 100%;
  height: 100%;
  background-color: #534A93;
  font-family: Helvetica, Arial, sans-serif; }

/* Rectangles */
h1 {
  font-size: 26px; }

#app-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #app-container::after {
    clear: both;
    content: "";
    display: table; }

.playlist {
  margin-top: 60px; }

header {
  display: block;
  margin-top: 120px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    display: block;
    font-size: 30px;
    font-family: 'Century Gothic'; }
    header .logo:last-child {
      margin-right: 0; }
    header .logo img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 90px;
      width: 90px; }
      header .logo img:last-child {
        margin-right: 0; }
    header .logo aside {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      color: #FFB87E;
      margin-top: 18px;
      font-size: 18px; }
      header .logo aside:last-child {
        margin-right: 0; }
      header .logo aside p {
        text-transform: uppercase; }
  header .sms-number {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right;
    color: #FFB87E;
    margin-top: 22px;
    font-size: 18px; }
    header .sms-number:last-child {
      margin-right: 0; }
    header .sms-number strong {
      font-size: 24px; }

.playlist {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.track-wrapper aside {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #7E0000; }
  .track-wrapper aside::after {
    clear: both;
    content: "";
    display: table; }
  .track-wrapper aside div:nth-child(1) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .track-wrapper aside div:nth-child(1):last-child {
      margin-right: 0; }
  .track-wrapper aside div:nth-child(2) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: right;
    color: #FF7E7E; }
    .track-wrapper aside div:nth-child(2):last-child {
      margin-right: 0; }

.track {
  -webkit-flex-basis: 10em;
  -moz-flex-basis: 10em;
  flex-basis: 10em;
  -ms-flex-preferred-size: 10em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 250px;
  background-color: #f6f6f6;
  border-radius: 1px;
  border: 1px solid gainsboro;
  box-shadow: 0 1px 1px gray;
  cursor: pointer;
  margin: 0 0 1em 0;
  position: relative;
  padding: 17px 16px 8px; }
  .track .cover-art {
    overflow: hidden;
    max-height: 215px; }
    .track .cover-art img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      width: 100%; }
  .track .cover-art {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 1px 1px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .track .details {
    font-size: 18px;
    padding: 0.5em 0;
    line-height: 1.4em;
    margin-top: 8px; }
    .track .details p {
      margin: 0 0 0.5em; }
    .track .details .name {
      color: #7E0000;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5em; }
    .track .details .artist {
      color: #FF7E7E; }
  .track:focus, .track:hover {
    background-color: white; }
    .track:focus .cover-art img, .track:hover .cover-art img {
      background: #e2daac; }
    .track:focus .track-header, .track:hover .track-header {
      background-color: white; }
  .track:active {
    background-color: #f6f6f6; }
    .track:active .track-header {
      background-color: #f6f6f6; }
